<div id="posts">
<% @posts.each do |post| %>
	<div class="post">
	<h2 class="title"><%= link_to post.title, post %></h2>
	<p class="date">Publised at <%= time_ago_in_words(post.created_at) %> by 
		<% if !post.user.nil? %>
  		<%= post.user.email %></p>
		<% end %> 
	</div>
	<% end %> <br/><br/>
	<%= will_paginate @posts %>
</div>



