/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	background: #EDEFF0;
}


.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}


.main_header {
	width: 100%;
	margin: 0 auto;
	background: white;
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

	#logo {
		a {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.2rem;
			text-decoration: none;
			color: #008CFF;
			span {
				color: #F25F5C;
				font-weight: 400;
			}
		}
	}
	.buttons{
			display: flex;
			justify-content: space-between;
			.button {
				background: #008CFF;
				padding: .5em 1em;
				border-radius: .5rem;
				margin-right: .5em;
				color: white;
				text-decoration: none;
				font-size: .8em;
				font-weight: 100;
				
				}
			}
	}
}

#posts, #post_content {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	.post {
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D1d1d1;
		.title {
			margin: 0;
			a {
				text-decoration: none;
				font-size: 1.3rem;
				color: #3b65ad;
			}
		}
		.date {
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #8e8e94;
		}
	}
}

#post_content {
	h1 {
		font-weight: 100;
		font-size: 2em;
		color: #3b65ad;
		margin-top: 0;
	}
	p {
		color: #8e8e94;
		line-height: 1.8;
		font-size: 0.9rem;
		font-weight: 100;
		margin-bottom: 2em;
	}
}

.button_edit {
	background: #50514F;
	padding: .5em 1em;
	margin-right: 0.5em;
	border-radius: .5em;
	color: white;
	text-decoration: none;
	
}

.button_delete {
	background: #DA2C38;
	padding: .5em 1em;
	border-radius: .5em;
	color: white;
	text-decoration: none;
}




